body{background-color: blueviolet;}
.container{

      background-color:red ;
      margin-top: 50px;
      margin-left: 70px;
      margin-right: 70px;
     
}
.form{
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
}
